<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodTrack2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAEB1D281B917D63002BE389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEB1D3C1B917D63002BE389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAEB1D471B917D63002BE389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
